<nav class="navbar">
  <div class="container">
    <div class="navbar-brand">
      <a href="{{ site.url }}">{{ site.title }}</a>
    </div>
    <div class="navbar-links">
      <button class="menu-toggle" aria-label="Toggle menu">
        <span class="hamburger"></span>
      </button>
      <ul>
        <li><a href="/">Home</a></li>
        <li><a href="/archive">Archive</a></li>
        <li class="dropdown">
          <a href="javascript:void(0)" class="dropbtn">Projects</a>
          <div class="dropdown-content">
            <a href="#">The Expiators</a>
            <a href="#">Ferrifractor Cartel</a>
            <a href="#">Flesh Eater Courts</a>
            <!-- <a href="#">Link 3</a> -->
          </div>
        </li>
        <li><a href="/about">About</a></li>
        <li><a href="/contact">Contact</a></li>
      </ul>
    </div>
  </div>
</nav>

<script>
document.addEventListener("DOMContentLoaded", function() {

  const toggle = document.querySelector(".menu-toggle");
  const menu = document.querySelector(".navbar-links ul");

  toggle.addEventListener("click", () => {
    menu.classList.toggle("active");
  });

});
</script>