// <uniquifier>: Use a unique and descriptive class name
// <weight>: Use a value from 400 to 900

.cinzel-font {
  font-family: "Cinzel", serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
}

footer {
  padding-top: 25px;
  text-align: center;
  background: black;
  padding: 15px 0;
}
.content {
  text-align: center;
}
.content a {
  color: #cF0000;
}
.navbar {
  float: right;
  position: fixed;
  right: 0;
  left: 0;
  z-index: 1030;
  margin-bottom: 0;
  background: #000;
  color: #fff;
  font-size: 20pt;
  padding: 15px 0;
}
.navbar a {
  float: right;
}
.navbar img {
  float: left;
  max-height: 100px;
}
h3 {
font-family: "Cinzel", serif;
}
body, html {
  font-family: "Cinzel", serif;
  height: 100%;
  margin: 0;
  //font: 400 15px/1.8 "Lato", sans-serif;
  color: #777;
}

.bgimg-1, .bgimg-2, .bgimg-3, .bgimg-4 {
  position: relative;
  opacity: 0.99;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

}
.bgimg-1 {
  background-image: url("/assets/img/background.jpg");
  min-height: 100%;
}

.bgimg-2 {
  background-image: url("/assets/img/blanche4.png");
  min-height: 400px;
}

.bgimg-3 {
  background-image: url("/assets/img/nurgle.jpg");
  min-height: 400px;
}

.bgimg-4 {
  background-image: url("/assets/img/blanche2.jpg");
  min-height: 100%;
}

.caption {
  position: absolute;
  left: 0;
  top: 50%;
  width: 100%;
  text-align: center;
  color: #000;
}

.caption span.border {
  background-color: #111;
  color: #fff;
  padding: 18px;
  font-size: 25px;
  letter-spacing: 10px;
}

h3 {
  letter-spacing: 5px;
  text-transform: uppercase;
  font: 20px "Lato", sans-serif;
  color: #111;
}

/* Turn off parallax scrolling for tablets and phones */
@media only screen and (max-device-width: 1024px) {
  .bgimg-1, .bgimg-2, .bgimg-3, .bgimg-4 {
    background-attachment: scroll;
  }
}
a {
  color: #fff;
}
.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}
.widthSet {
    max-width: 250px;
}

.heightSet {
    max-height: 150px;
}
.column {
  float: left;
  width: 50%;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}
code {
  font: 18px;
}

.post-image {
  max-width: 100%;
  max-height: 200px; /* Adjusted to prevent overlapping with text */
  width: auto;
  height: auto; /* Maintain aspect ratio */
}

/* Define the post-item style */
.post-item {
  height: 300px; /* Set a fixed height for each post item */
  align-items: center;
  justify-content: center;
}

/* Define the post-link style */
.post-link {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 2px;
}
