---
layout: default
---

<!DOCTYPE html>
<html>
<head>
<title>{{ page.title }} - {{ site.title }}</title>
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Cinzel:wght@400..900&display=swap" rel="stylesheet">
<link rel="stylesheet" href="/assets/css/styles.css">
<meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>

    <div class="container">
        <h1>Posts By Tag</h1>
        {% for tag in site.tags %}
        <h2>{{ tag[0] }}</h2>
        <ul class="custom-bullet">
          {% for post in tag[1] %}
            <li><a href="{{ post.url }}">{{ post.title }}</a></li>
          {% endfor %}
        </ul>
      {% endfor %}
    </div>
    
    
</body>
</html>