---
layout: default
---


<p class="blank-block"></p>
<h1 style="text-align: center; margin-bottom: 5px;">{{ site.title }}</h1>
<p class="blank-block"></p>
<!-- <script>
<div class="blog-page container">

  <!-- Main content + sidebar wrapper -->
  <div class="blog-content-wrapper">

    <!-- Main posts column -->
    <main class="blog-posts">
      {%- for post in site.posts -%}
      <article class="post-item">
        <h2 class="post-item-title"><a href="{{ post.url }}">{{ post.title | escape }}</a></h2>
        <p class="post-item-excerpt">{{ post.excerpt | strip_html | truncatewords: 40 }}</p>
      </article>
      {%- endfor -%}
    </main>

    <!-- Sidebar column -->
    <aside class="blog-sidebar">
      <div class="search-article">
        <!-- <label for="search-input" aria-hidden="true">
          🔍
        </label> -->
        <input type="search" id="search-input" placeholder="Search posts..." />
      </div>

      <div class="archive-tags">
        <h3>Tags</h3>
        <ul>
          {% for tag in site.tags %}
          <li class="tag-item"><a href="/tags/{{ tag[0] }}">{{ tag[0] }}</a></li>
          {% endfor %}
        </ul>
      </div>
    </aside>

  </div>
</div>