---
layout: default
---

<!-- <div class="promoted-content">
    {% for post in site.tags.promoted limit:1 %}
    <a href="{{ post.url }}" class="promoted-cta"><img src="{{ post.image }}" alt="{{ post.title }}"></a>
  </div>
  {% endfor %}
  
<div class="blank-block"></div> -->
<p style="display: none;"></p>
<div class="featured-posts-container">
    {% for post in site.tags.featured limit:6 %}
        <div class="featured-post">
          <a href="{{ post.url }}">
            <img src="{{ post.image }}" alt="{{ post.title }}">
            <div class="overlay">
                <div class="cover-block__inner-container">
                    <h3>{{ post.title }}</h3>
                </div>
              </a>
            </div>
        </div>
    {% endfor %}
</div>

<div class="blank-block"></div>

<div class="typewriter">
  <p style="text-align: center;">++ INCOMING TRANSMISSIONS ++</p>
  <p style="text-align: center;">++ RECEIVING CONTENT ++</p>
  <p style="text-align: center;">++ STREAM CIPHER: A1E3-7 ++</p>
  <p style="text-align: center;">++ ANALYSING DATA ++</p>
  <p style="text-align: center;">++ FORMATTING CONTENT ++</p>
  <p style="text-align: center;"></p>
</div>

<div class="blank-block"></div>

<!-- <h2 style="text-align: center; margin-bottom: 5px;">++ LATEST ++</h2> -->
{% for post in site.posts limit:10 %}
<div class="cover-block">
  <a href="{{ post.url }}">
    <img src="{{ post.image }}" alt="Cover Image" class="cover-image">
    <div class="cover-block__inner-container">
      <div class="layout-flow">
        <h2 href="{{ post.url }}">{{ post.title }}</h2>
      </div>
    </div>
    </a>
  </div>
{% endfor %}
 
<!-- <div class="blank-block"></div> -->

<!-- <h1 style="text-align: center; margin-bottom: 5px;">{{ site.title }}</h1>

<div class="blank-block"></div> -->
